.vs
build
dist
*.egg-info
mercuryapi/
!mercuryapi-*/
mercuryapi-*/*
!mercuryapi-*/c/
mercuryapi-*/c/*
!mercuryapi-*/c/src/
mercuryapi-*/c/src/*
!mercuryapi-*/c/src/api
Examples/
Tests/
venv/
temp/
.python-version
installation.sh
mercury.cpython*
.DS_Store